table {
    background: black;
    padding: 5px;
    border-radius: 25px;
    border-color: black;
}

.number_button {
    width: 40px;
    padding: 5px;
    border: black;
    border-radius: 25px;
}


